@media screen and (max-width: 500px) {
    /* movie description */
    #dialogContent {
        height: 80vh;
        width: 70vw;
    }
    
    #movieDescriptionPoster {
        width: 100%;
    }

    dialog::-webkit-scrollbar-thumb {
        background: transparent;
    }

    .navigation-bar {
        display: none;
    }

    #responsive-nav-button {
        display: block;
    }

    /* cinema */

    #select-block {
        font-size: 5vw;
        white-space: nowrap;
    }

    #cinemaDescription {
        flex-direction: column;
        align-items: center;
        font-size: 1em;
        height: 70%;
    }

    #cinemaOpenHours {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #cinemaMapContainer {
        margin-top: 1em;
        width: 100%;
        height: 100%;
    }

    /* movies */

    .poster {
        width: 50%;
    }

    .poster-img {
        max-width: 90%;
    }

    /* catering */

    .col {
        width: 10%;
    }

    .col li {
        font-size: 14px;
        line-height: 36px;
        white-space: nowrap;
    }

    .col .header{
        font-size: 24px;
        color: rgb(255, 255, 255);
        margin-bottom: 1em;
    }


    /* contact */

    #contact {
        display: block;
    }

    #contact-map {
        width: 100%;
    }
}