html, body {
    min-height: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* header */

header {
    position: fixed;
    width: 100%;
    height: 50px;
}

#header-logo {
    display: inline-block;
}

.navigation-bar {
    position: absolute;
    display: inline-flex;
    align-items: center;
    height: 50px;
    right: 2vw;
}

.navigation {
    color: #fff;
    text-decoration-line: none;
    text-align: center;
    width: 8vw;
    padding: 10px;
    border-radius: 5px;
}

.navigation:hover {
    background-color: white;
    color: black;
}

.logo {
    padding-left: 2vw;
	height: 50px;
}

.background {
    width: 100%;
    min-height: 100% !important;
    height: 100%;
    background-size: cover;
    box-shadow: 0 0 15px 15px black inset;
}

/* cinemas */

#cinemas {
    background-image: url("../assets/theater.jpg");
    display: flex;
    align-items: center;
}

#select-block {
    margin: auto;
    color: #fff;
}

#cinema-select {
    border-radius: 5px;
    overflow: hidden;
}

#cinema-select select {
    height: 50px;
    padding: 5px;
    border-radius: 5px;
}

/* movies */


#movies {
    background-image: url("../assets/movie.jpg");
    color: #fff;
}

.container-col {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 90%;
    width: 80%;
    left: 10%;
    margin: auto;
    /* background-color: beige; */
}

.container-col > div {
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-row > div {
    width: 170px;
    height: auto;
    margin: 10px;
    /* text-align: center;
    line-height: 75px;
    font-size: 30px; */
}

div.movie1 {
    content: url(../assets/encanto.jpeg);
    transition: .5s ease;
}

div.movie1:hover  {
    opacity: 0.6;
}

div.movie1:hover .middle{
    opacity: 1;
}


div.movie2 {
    content: url(../assets/kingsman.jpeg);
}
div.movie3 {
    content: url(../assets/spider.jpeg);
}

div.movie4 {
    content: url(../assets/matrix.jpeg);
}
/* catering  */

#catering {
    display: flex;
    align-items: center;
    background-image: url("../assets/catering.jpg");
}

.board-background {
    margin-top: 0px;
    margin: auto;
    height: 80%;
    width: 80%;
    background-color: rgba(89, 106, 100, 0.6);
    border-radius: 8px;
}

.board {
    position: absolute;
    height: 80%;
    width: 80%;
    left: 20%;
}

.col {
    float: left;
    width: 20%;
    padding: 20px;
    list-style-type: none;

}

.col li {
    color:white;
    font-size: 24px;
    line-height: 50px;
}

.col .header{
    font-size: 46px;
    color: rgb(255, 255, 255);
}


